@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/livvic-v11-latin-regular.woff2") format("woff2"), 
       url("../fonts/livvic-v11-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/livvic-v11-latin-600.woff2") format("woff2"), 
       url("../fonts/livvic-v11-latin-600.woff") format("woff");
}

@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/livvic-v11-latin-700.woff2") format("woff2"), 
       url("../fonts/livvic-v11-latin-700.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Livvic", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

.container {
  max-width: 1160px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* firs section */

.header{
  background-color: #014E56;
  height: auto;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
}

.nav-box {
  display: flex;
  justify-content: space-between;
}

.main-link {
  display: flex;
  margin-left: 48px;
}


.main-link-items {
  list-style-type: none;
}

.main-link-items a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  margin-left: 40px;
  color: #fff;
  padding: 1px;
}

.main-link-items a:hover {
  color: #F67E7E;
  transition: .2s ease;
}

.main-link-items:first-child a{
  margin-left: 0;
}

.contact-link {
  font-size: 18px;
  font-weight: 600;
  padding: 9px 33px;
  border-radius: 24px;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
}

.contact-link:hover {
  background-color: #fff;
  color: #002529;
  transition: .3s ease;
}


.header {
  background-image: url(/img/circle-imgs/header-background-img.png),
                    url(/img/circle-imgs/header-bottom-background-img.png);
  background-repeat: no-repeat;
  background-position-x: calc(50% - 735px),
                         calc(50% + 380px);
  background-position-y: calc(50%),
                         bottom;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  outline: none;
  margin-top: -10px;
}

.header-main-section {
  display: flex;
  justify-content: space-between;
  margin-top: 133px;
}

.header-main-text {
  color: #fff;
  line-height: 100px;
  width: 50%;
  font-size: 100px;
  line-height: 100px;
}

.header-main-section span {
  color: #F67E7E;
}

.header-main-paragrph {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  font-weight: 600;
  width: 40%;
  margin-top: 79px;
  margin-bottom: 250px;
}

.header-main-section p::before{
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  background-color:  #79C8C7;
  margin-top: -64px;
}

/* second section */

.second-section {
  height: 684px;
  background-color: #012F34;
  overflow: hidden;
}

.second-section {
  background-image: url(/img/circle-imgs/second-section-background-img.png);
  background-repeat: no-repeat;
  background-position-x: calc(50% + 735px);
  background-position-y: calc(50% + 220px);
}

.second-main {
  display: flex;
  justify-content: space-between;
  padding-top: 198px;

}


.second-sec-main-word {
  color: #fff;
  font-size: 48px;
  padding-right: 300px;
}

.second-sec-main-word::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  background-color:  #F67E7E;
  margin-top: -50px;
}

.second-items-title {
  font-size: 18px;
  line-height: 28px;
  color: #F67E7E;
  line-height: 25px;
}

.second-items-paragrph {
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  font-weight: 600;
  margin-top: 16px;
}

.second-items-paragrph:first-child {
  margin-top: 0;
}

.second-items {
  margin-left: -100px;
}

.second-items::before{
  content: "";
  background-image: url(/img/services/Group\ 11.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 200px;
  height: 200px;
  margin-left: -90px;
}

.second-items:nth-child(2):before{
  content: "";
  background-image: url(/img/services/Group\ 12.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 200px;
  height: 200px;
  margin-left: -90px;
}

.second-items:nth-child(3):before{
  content: "";
  background-image: url(/img/services/Group\ 13.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 200px;
  height: 200px;
  margin-left: -90px;
}

.second-items ~ .second-items {
  margin-top: 32px;
}


.cont2th {
  max-width: 1650px;
  margin-left: auto;
  margin-right: auto;
}
.cont2th img {
  float: right;
  margin-top: -87px;
}

/* thirty section */

.thirty-section {
  height: auto;
  background-color:  #004047;
}

.thirty-section {
  background-image: url(/img/circle-imgs/thirty-sec-top-background-img.png),
                    url(/img/circle-imgs/thirty-se-bottom-background-img.png);
  background-repeat: no-repeat;
  background-position-x: calc(50% - 630px),
                         calc(50% + 580px);
  background-position-y: top,
                         bottom;
}

.thirty-main-word {
  color: #fff;
  font-size: 48px;
  text-align: center;
  padding-top: 140px;
  margin: 0 90px;
  line-height: 48px;
}

.thirty-main-word span {
  color: #79C8C7;
}

.thirty-main-directors {
  display: flex;
  justify-content: space-between;
  margin-top: 92px;
}

.thirty-section-poragrph {
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
}

.thirty-section-poragrph::before {
  background-image: url(/img/“.svg);
  background-repeat: no-repeat;
  width: 67px;
  height: 56px;
  display: block;
  content: "";
  margin-bottom: -20px;
  margin-top: -35px;
  margin-left: auto;
  margin-right: auto;
}

.thirty-section-director {
  margin-bottom: 84px;
}

.thirty-section-director:last-child{
  margin-bottom: 0;
  padding-bottom: 100px;
}

.thirty-section-director ~ .thirty-section-director {
  margin-left: 30px;
}

.thirty-sec-director-name {
  font-size: 18px;
  line-height: 28px;
  color: #79C8C7;
  text-align: center;
  margin-top: 18px;
}

.director__thirty-sec-p {
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  text-align: center;
}


.thirty-sec-for-img {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.thirty-section-director:nth-child(3) p:nth-child(1) {
  padding-right: 10px;
}

/* fourtyth section */

.fifth-section {
  height: 200px;
  background-color: #F67E7E;
}

.fifth-section {
  background-image: url(/img/circle-imgs/fifth-section-background-img.png);
  background-repeat: no-repeat;
  background-position-x: calc(50% - 600px);
  background-position-y: calc(50% + 30px);
}

.fifth-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
}

.fifth-main h1 {
  font-size: 48px;
  color: #012F34;
}

.fifth-main a {
  font-size: 16px;
  text-decoration: none;
  line-height: 28px;
  font-weight: 600;
  padding: 9px 32px;
  border: 2px solid #012F34;
  color: #012F34;
  border-radius: 24px;
}

.fifth-main a:hover {
  color: #fff;
  background-color: #012F34;
  transition: .3s ease;
}

.container-for-fifth-section {
  max-width: 917px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* sixth section */


.footer {
  height: 196px;
  background-color: #002529;

}

.footer-main {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
}

.footer-left-items {
  display: flex;
}

.footer-firs-item a:first-child img{
  padding-right: 1px;
  display: block;
  padding-bottom: 25px;
}


.footer-firs-item a{
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #fff;
}

.footer-links {
  margin-left: 40px;
}

.footer-links:nth-child(2) {
  margin-left: 0;
}

.footer-firs-item a:hover {
  color: #F67E7E;
  
  transition: .5 s ease;
}

.footer-firs-item a ~ .footer-firs-item a {
  margin-left: 35px;
}

.footer-second-item {
  margin-left: 125px;
}

.footer-second-item p {
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  font-weight: 600;
  opacity: 0.6;
}

.footer-social-media {
  display: block;
  float: right;
}

.footer-social-media a ~ a {
  margin-left: 14px;
}


.social-media-items:hover path {
  fill: #F67E7E;
  transition: .2s ease;
}

.footer-right-items p{
  margin-top: 73px;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  opacity: 0.6;
}

/* start about page */

.header-about {
  background-color: #014E56;
  height: 517px;
  overflow: hidden;
}

.about-header-main-section {
  display: flex;
  justify-content: space-between;
  margin-top: 135px;
}

.about-header-main-section h1 {
  color: #fff;
  line-height: 100px;
  font-size: 64px;
  line-height: 100px;
  margin-top: -18px;
}

.about-header-main-section p {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  width: 65%;
}

.about-header-main-section p::before{
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color:  #F67E7E;
  position: absolute;
  margin-top: -42px;
}

/* main directors section */

.cont {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  top: 0;
}

.meet-directors {
  width: 100%;
  height: 1002px;
  background-color: #004047;
}

.top-tittle {
  padding-top: 140px
}

.top-tittle h1 {
  margin: 0;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #fff;
}

.directors{
  margin-top: 64px;
}

.directors-bg {
  width: 350px;
  height: 253px;
  background-color:  #012F34;
  text-align: center;
  overflow: hidden;
}

.directors-main-content {
  display: flex;
  justify-content: center;
}

.directors-bg ~ .directors-bg {
  margin-left: 30px;
}

.firs-directors-label {
  display: flex;
  margin-bottom: 76px;
}

#second-directors-label {
  display: flex;
}

.directors-image {
  margin-top: 32px;
}


.plus-hover {
  width: 100%;
  height: 256px;
  text-align: center;
}

.mini-about-directors {
  margin-bottom: 52px;
}

.mini-about-directors .director-name-surname {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #79C8C7;
  margin-top: 16px;
  margin-bottom: 0;
}


.mini-about-directors .director-experience {
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  margin-top: 0;
  font-family: "Livvic", sans-serif;
  font-weight: normal;
}


.block {
  display: flex;
  justify-content: center;
}

.plus-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  background-color: #F67E7E;
  margin-top: 226px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}

.plus-icon:hover{
  background-color: #79C8C7;
}

.plus-hoverth {
  background-color: #002529;
  height: 300px;
  margin-top: -16px;
  text-align: center;
}

.mt {
  padding-top: 33px;
  padding-bottom: 8px;
}

.director-p {
  display: flex;
  justify-content: center;
}

.p {
  width: 286px;
  padding: 0 30px;
}

a {
  text-decoration: none;
}

.social-media {
  margin-top: 10px;
}

.social-media a~a{
  margin-left: 14px;
}

.meet-directors-wrapper::before {
  display: block;
  content: "";
  background-image: url('/img/circle-imgs/about-directors-top-background-img.png');
  width: 200px;
  height:200px;
  position: absolute;
  margin-left: -220px;
}

.meet-directors-wrapper::after {
  content: "";
  background-image: url('/img/circle-imgs/about-directors-bottom-background-img.png');
  background-repeat: no-repeat;
  width: 147px;
  height:100px;
  float: right;
  margin-top: 68px;
  margin-right: -160px;
}



/* thirty section */

.about-thirty-section {
  height: 437px;
  background-color:  #012F34;
}

.about-thirthy-main h1 {
  padding-top: 140px;
  text-align: center;
  font-size: 48px;
  line-height: 48px;
  font-weight: bold;
  color: #fff;
}

.about-clients-main {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  align-items: center;
}

.about-clients-items {
  list-style-type: none;
}

.fifth-main2th {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
}

.fifth-main2th::before {
  content: "";
  display: block;
  background-image: url(/img/circle-imgs/about-page-clents-background-img.svg);
  width: 200px;
  height:200px;
  margin-left: -300px;
  position: absolute;
  margin-top: -885px;
}

/* start contact page */

.header-contact{
  background-color: #014E56;
  height: 789px;
  overflow: hidden;
}

.header-contact-sec {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}

.header-contact-thirt-sec {
  width: 500px;
  margin-right: 100pxpx;
}

.header-contact-thirt-sec input{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff9d;
  width: 500px;
  outline: none;
  padding-left: 10px;
  color: #ffffff;
  padding-bottom: 16px;
  padding-top: 24px;
  font-size: 15px;
  line-height: 25px;
}

.header-contact-thirt-sec input:first-child {
  padding-top: 0;
}

.header-contact-thirt-sec textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff9d;
  resize: none;
  width: 500px;
  outline: none;
  color: #ffffff;
  font-size: 15px;
  line-height: 25px;
  height: 110px;
  padding-top: 24px;
  padding-left: 15px;
  font-weight: 600;
}

::-webkit-input-placeholder {
  font-size: 15px;
  line-height: 25px;
  color: #99b8bb;
  font-weight: 600;
}

:focus::-webkit-input-placeholder {
  opacity: 0.6;
}

.btn-contact {
  padding: 9px 32px;
  border-radius: 24px;
  color: #004047;
  border: 1px solid #fff;
  cursor: pointer;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 20px;
  border: 1px solid #fff;
  background-color: #fff;
}

.contact-sec h1 {
  color: #fff;
  font-size: 64px;
}

.contact-sec h2 {
  color: #F67E7E;
  font-size: 32px;
  font-weight: 48px;
  margin-top: 16px;
}

.contact-sec-item  {
  margin-top: 54px;
}

.contact-sec-item li {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
}

.contact-sec-item li{
  margin-top: 10px;
}

.contact-sec-item li:first-child{
  margin-top: 0;
}

#contact-main-item , #contact-main-item2th , #contact-main-item3th{
  display: flex;
  align-items: center;
}

#contact-main-item::before {
  content: "";
  background-image: url(/img/services/Group\ 11.svg);
  background-repeat: no-repeat;
  width: 72px;
  height:72px;
  margin-right: 22px;
}

#contact-main-item2th::before {
  content: "";
  background-image: url(/img/services/Group\ 12.svg);
  background-repeat: no-repeat;
  width: 72px;
  height:72px;
  margin-right: 22px;
}

#contact-main-item3th::before {
  content: "";
  background-image: url(/img/services/Group\ 13.svg);
  background-repeat: no-repeat;
  width: 72px;
  height:72px;
  margin-right: 22px;
}

.header-contact-sec::before {
  content: "";
  background-image: url(/img/circle-imgs/contact-header-top-background-img.png);
  width: 200px;
  height: 200px;
  position: absolute;
  margin-left: -270px;
}

.contact-header-wrapper::after {
  content: "";
  background-image: url(/img/circle-imgs/contact-header-bottom-background-img.svg);
  width: 200px;
  height: 225px;
  position: absolute;
  margin-left: 1165px;
  margin-top: -105px;
}

/* start responsiving  */


@media only screen and (max-width:900px){ /*for tablets*/
  .header-main-text {
    font-size: 64px;
    line-height: 56px;
  }

  .header {
   background-image: url(/img/circle-imgs/header-background-img.png),
                      url(/img/circle-imgs/header-bottom-background-img.png);
   background-repeat: no-repeat;
   background-position-x: calc(50% - 735px),
                           calc(50%);
    background-position-y: calc(50%),
                          bottom;
  }

  .header-main-section {
    display: block;
    margin-top: 120px;
    justify-content: center;
    text-align: center;
  }

  .header-main-text {
    font-size: 64px;
    line-height: 56px;
    width: 56%;
    margin-left: auto;
    margin-right: auto;
  }

  .header-main-paragrph {
    font-size: 15px;
    line-height: 28px;
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 0;
    padding-bottom: 256px;
  }

  .header-main-section p::before {
    display: none;
  }


  /* second section */

  .second-section {
    height: 710px;
  }

  .second-section .container {
    max-width: 573px;
  }

  .second-main {
    display: block;
    padding-top: 136px;
  }

  .second-sec-main-word {
    font-size: 36px;
    line-height: 36px;
    padding-right: 20px;

  }

  .second-sec-main-word::before {
    padding-top: -32px;
  }

  .second-section {
    background-position-x: calc(100% + 100px);
    background-position-y: calc(50% - 232px);
  }

  .second-main-item {
    margin-top: 64px;
  }

  .second-items {
    margin-left: 90px;
  }

  .second-items-paragrph {
    width: 100%;
    padding-right: -550px;
  }

  /* thirty section */

  .thirty-section {
    background-image: url(/img/circle-imgs/thirty-sec-top-background-img.png),
                      url(/img/circle-imgs/thirty-se-bottom-background-img.png);
    background-repeat: no-repeat;
    background-position-x: calc(0%),
                           calc(100%);
    background-position-y: top,
                           bottom;
  }

  .thirty-main-word {
    font-size: 32px;
    line-height: 32px;
    padding-top: 100px;
    margin: 0 109px;
  }

  .thirty-main-directors {
    display: block;
    margin-top: 84px;
  }

  .thirty-section-poragrph {
    width: 80%;
    margin: 0 auto;
  }

  .thirty-sec-for-img {
    margin-top: 16px;
  }


  

}

@media only screen and (max-width:576px) { /*for mobile phones*/
  .header {
    height: 567px;
  }

  .contact-link {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .main-link-items {
    display: none;
  }
  
  .header-inner {
    padding-top: 40px;
  }

  .header-main-section::before{
    display: none;
  }

  .header {
    background-image: url(/img/circle-imgs/header-background-img.png),
                       url(/img/circle-imgs/header-bottom-background-img.png);
    background-repeat: no-repeat;
    background-position-x: calc(50% - 735px),
                            calc(50%);
     background-position-y: calc(50%),
                           calc(50% + 233px);
   }

  .header-main-section {
    display: block;
    margin-top: 80px;
    text-align: center;
  }

  .header-main-text {
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    width: 94%;
    margin: 0 auto;
  }

  .header-main-paragrph {
    font-size: 15px;
    line-height: 28px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    font-weight: 600;
  }

  .header-main-section p::before {
    display: none;
  }  

  /* second section */

  .second-section {
    background-position-x: calc(100% + 100px);
    background-position-y: top;
  }

  .second-section {
    height: auto;
  }

  .second-main {
    display: block;
    padding-top: 100px;
  }

  .second-items::before{
    content: "";
    background-image: url(/img/services/Group\ 11.svg);
    background-repeat: no-repeat;
    background-position-x: calc(50%);
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: -80px;
  }
  
  .second-items:nth-child(2):before{
    content: "";
    background-image: url(/img/services/Group\ 12.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 200px;
    height: 200px;
  }
  
  .second-items:nth-child(3):before{
    content: "";
    background-image: url(/img/services/Group\ 13.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 200px;
    height: 200px;
  }

  .second-sec-main-word {
    font-size: 32px;
    line-height: 32px;
    padding-right: 0;
    width: 60%;
  }

  .second-sec-main-word::before {
    margin-top: -32;
  }

  .second-items {
    display: block;
    margin-left: 0;
    text-align: center;
    margin-top: 144px;
  }

  .second-items:last-child {
    margin-bottom: 64px;
  }

  .second-items:nth-child(2) , .second-items:nth-child(3){
    margin-top: 136px;
  }

  .second-items-paragrph {
    margin-top: 8px;
    opacity: 0.8;
  }

  .second-items-paragrph:last-child {
    padding: 0 10px;
  }

  .second-items-title {
    margin-top: 136px;
  }

  .second-items-title:first-child {
    margin-top: 0;
  }


  /* thirty section */

  .thirty-section {
    height: 1410px;
  }

  .thirty-main-word {
    font-size: 32px;
    line-height: 32px;
    margin: 0 5px;
  }

  .thirty-main-directors {
    display: block;
  }

  .thirty-sec-for-img {
    margin-top: 16px;
  }

  .thirty-section-director ~ .thirty-section-director{
    margin-top: 84px;
    margin-left: 0;
  }

  .thirthy-main::before {
    margin-left: -30px;
  }

  .cont3th {
    margin-top: 82px;
  }
  .cont3th img {
    float: right;
  }

  /* fourtyth section */

  .fifth-section {
    height: 302px;
  }

  .fifth-main {
    display: block;
    text-align: center;
  }

  .fifth-main h1 {
    font-size: 32px;
    line-height: 32px;
    padding: 0 10px;
    margin-bottom: 33px;
  }

  .fifth-main::before {
    margin-top: 88px;
    margin-left: -253px;
  }

  /* sixth section */

  .footer {
    height: 432px;
  }

  .footer-main, .footer-left-items , .footer-right-items{
    display: block;
  }
  .footer-firs-item {
    text-align: center;
  }

  .footer-firs-item a:first-child img {
    margin-left: auto;
    margin-right: auto;
  }

  .footer-second-item {
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 42px;
  }

  .footer-right-items {
    display: block;
    text-align: center;
  }

  .footer-social-media {
    float: none;
  }

  .footer-right-items p {
    margin-top: 10px
  }
  
}